* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #FFEBF2;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #010000;
    
   
}

.price {
    font-size: 12px;
}

/* header desktop */
header {

    text-align: center;

}



@media only screen and (min-width:300px) and (max-width: 639px) {
    
    .deesktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    
    .deesktop img {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        top: 2rem;
        position: relative;
        margin-left: 1px;
        margin-right: 1px;
        
    }

    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 3rem;
    }

    
    }


@media only screen and (min-width:640px) and (max-width: 767px) {
    
    .deesktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    
    .deesktop img {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        top: 5rem;
        position: relative;
        margin-left: 8px;
        margin-right: 8px;
    }


    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 7rem;
    }
    
    }




@media only screen and (min-width:768px) and (max-width: 1023px) {
    
    .deesktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .deesktop img {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        top: 4rem;
        position: relative;
        margin-left: 8px;
        margin-right: 8px;
    }
    
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 5rem;
    }

    }


@media only screen and (min-width:1024px) and (max-width: 1279px) {
    
    .deesktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }
    
    .deesktop img {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        top: 4rem;
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
    }

    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 5rem;
    }
    
    }

@media only screen and (min-width:1280px) and (max-width: 1535px) {
    
.deesktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.deesktop img {
    max-width: 100%;
    height: auto;
}

.logo {
    top: 8rem;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 10rem;
}
}

@media only screen and (min-width:1536px)  {
    
    .deesktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 4rem;
    }
    
    .deesktop img {
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        top: 8rem;
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 10rem;
}

    }


main {
    width: 80%;
    margin: 0 auto;
    
    
    
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;

}


.fist {
    padding-bottom: 4rem;
}

.content2 {
   
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media only screen and (min-width:300px) and (max-width: 639px) {

    main p {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .content3 .card {
        font-size: 1rem;
        line-height: 1.8rem;
    }


}

@media only screen and (min-width:300px) and (max-width: 639px) {

    .content2 { 
        display: inline;
    }

}



.kurs {

    padding: 1rem;
    
    
    
    
}

.wo {

    padding: 1rem;
    

   
   
  
    

}

.anmeldung {
    padding-top: 4rem;
    
    
}

.content3 {
   padding-top: 4rem;
   
}

.content3 h3 {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}






.preise { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.card {
    text-align: center;
    padding: 1rem 1rem;
    background: rgba(255, 254, 254, 0.5);
    border-radius: 0.5rem;
    margin: 0.3rem;
    font-size: 1.3rem;
    line-height: 2rem;

}


.punktekaten { 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}


.content4 {
    padding-top: 4rem;
}

.content4 h3 {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.content4 p {
    margin: 1rem;
}

.photos {
    padding-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.photos img {
    width: 100%;
    display: flex;
    height: auto;
}



@media only screen and (min-width:300px) and (max-width: 639px) {

    .photos { 
        
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        
    }

    .photos img {
        width: 100%;
    display: flex;
    height: auto;

    }

}


footer {
    padding-top: 4rem;
    margin: 0 auto;
    text-align: center;

}

footer img {
    width: 20%;
}

@media only screen and (min-width:300px) and (max-width: 639px) {

footer img {
    width: 40%;
}

}